<!-- <p>forgotpassword works!</p> -->


<div style="position:relative ; text-align: center; ">
    <h4>Forgot Password ?</h4>
    <br>
    <p>
        Please enter your email. We will send you an OTP to your email.
    </p>
    <br>
    <label>Enter email: </label>
    <br>
    <input type="text" placeholder="enter your email" #eip>
    <button (click) = "sendemail(eip.value)"> Send  </button>
</div>

<div *ngIf = "c" style="position: relative; text-align: center;">
    <label>Enter OTP: </label>
    <br>
    <input type="text" placeholder="Enter OTP" #oip>
    <button (click) = "checkotp(oip.value)"> Submit OTP </button>
</div>

<!-- <router-outlet></router-outlet> -->
